* {margin: 0px;
padding:0px ;
border: 0px;}

.nav{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
     
    background: black;
padding: 2rem;
}
li:hover{
   cursor: pointer;
    opacity: 0.7;
    color: rgba(255, 255, 255, 0.934);
}

  